[submodule "Vendor/TOLPowerSource"]
	path = Vendor/TOLPowerSource
	url = https://github.com/larsacus/TOLPowerSource.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
